<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header header-home">
            <div class="header-bottom">
                <div class="container-full">
                    <div class="header-bottom-inner">
                        <div class="header-left">
                            <div class="header-logo">
                                <a href="home.html">
                                    <img src="./img/logo-header.png" alt="logo-header.png">
                                </a>
                            </div>
                            <div class="btn-menu open-menu">
                                <p class="main-cl tt-16 t-uppercase f-bold open-text">menu</p>
                                <p class="main-cl tt-16 t-uppercase f-bold close-text">đóng</p>
                            </div>
                            <div class="header-search">
                                <div class="header-search-icon">
                                    <img src="./img/icon-serach.svg" alt="icon-serach.svg">
                                </div>
                            </div>
                        </div>

                        <div class="header-right">
                            <div class="header-gmp-group">
                                <div class="gmp-text">
                                    <p>
                                        <span class="main-cl">GMP Groups</span> – Đồng hành cùng Doanh nghiệp <br>
                                        sản xuất thiết bị y tế đẩy lùi <span class="main-cl t-uppercase">COVID-19</span>
                                    </p>
                                </div>

                                <div class="gmp-img">
                                    <img src="./img/icon-medical.svg" alt="icon-medical.svg">
                                </div>

                            </div>

                            <div class="header-social-net">
                                <a href="#" class="social-item">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="social-item">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="social-item">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div class="header-lang">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/VN.svg">VN
                                        </option>
                                        <option value="EN" data-thumbnail="img/VN.svg">EN
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-menu-new">
                            <div class="container">
                                <div class="columns">
                                    <div class="column col-menu">
                                        <div class="header-menu">
                                            <div class="header-menu-inner">
                                                <div class="header-menu-logo">
                                                    <a href="home.html">
                                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                                    </a>
                                                </div>
                                                <ul class="header-menu-nav">
                                                    <li class="current-menu">
                                                        <a href="#">Trang chủ</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#">Về chúng tôi</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Giải pháp toàn diện </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">Lĩnh vực phòng sạch</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li class="dropdown">
                                                                <a href="#">Test sub menu 1</a>
                                                                <ul class="sub-menu">
                                                                    <li>
                                                                        <a href="#">Test sub menu 2</a>
                                                                    </li>
                                                                    <li class="">
                                                                        <a href="#">test sub menu2 </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Test sub menu 2</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Test sub menu 2</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Tư vấn GMP/ISO </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">Tư vấn công nghệ bào chế</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Dự án</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Sản phẩm </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blog</a>
                                                    </li>
                                                </ul>
                                                <div class="header-menu-socail">
                                                    <a href="#" class="menu-socail socail-face">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="menu-socail socail-youtube">
                                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="menu-socail socail-insta">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="overplay"></div>
                                        </div>
                                    </div>


                                    <div class="column col-menu-content">
                                        <div class="header-content">
                                            <div class="header-content-box">
                                                <div class="menu-list">
                                                    <div class="menu-item">
                                                        <a href="#" class="menu-text">
                                                            Lô LK20.8 KĐT sinh thái Ecoriver Hải Dương, <br>
                                                            phường Hải Tân, thành phố Hải Dương
                                                        </a>
                                                    </div>
                                                    <div class="menu-item">
                                                        <a href="tel:02203857968" class="menu-text">
                                                            0220.3857.968
                                                        </a>
                                                    </div>
                                                    <div class="menu-item">
                                                        <a href="mailto:info@gmpgroups.com.vn" class="menu-text">
                                                            info@gmpgroups.com.vn
                                                        </a>
                                                    </div>
                                                    <div class="menu-item">
                                                        <p class="menu-text">
                                                            8h00 – 17h00 từ thứ 2 đến thứ 7
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="menu-social">
                                                    <a href="#" class="social-link">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="social-link">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="social-link">
                                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                                    </a>
                                                </div>

                                                <div class="textmenu ">
                                                    <p>Menu</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main main-home">
            <section class="banner" style="background-image: url('./img/bg-banner-3.png');">
                <div class="container">
                    <div class="banner-wrapper">
                        <h3 class="banner-title tt-60 f-semi t-uppercase">
                            Blog
                        </h3>
                        <p class="text-after">Blog</p>
                    </div>
                </div>
            </section>

            <div class="box-tab">
                <div class="container">
                    <div class="btab-wrapper">
                        <ul class="btab-list">
                            <li class="btab-item active">
                                <a href="#" class="t-uppercase tt-16">Tất cả</a>
                            </li>
                            <li class="btab-item">
                                <a href="#" class="t-uppercase tt-16">Tin dự án</a>
                            </li>
                            <li class="btab-item ">
                                <a href="#" class="t-uppercase tt-16">tin chuyên ngành</a>
                            </li>
                            <li class="btab-item">
                                <a href="#" class="t-uppercase tt-16">tin tức gmp groups</a>
                            </li>
                            <li class="btab-item">
                                <a href="#" class="t-uppercase tt-16">tuyển dụng</a>
                            </li>
                            <li class="btab-item ">
                                <a href="#" class="t-uppercase tt-16">Câu hỏi thường gặp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="bloges sec-80">
                <div class="container">
                    <div class="blog-wrapper">
                        <div class="columns">
                            <div class="column blog-txt" data-aos="fade-up">
                                <div class="blog-inner">
                                    <div class="blog-cols">
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-1.png" alt="blog-1.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-2.png" alt="blog-2.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-3.png" alt="blog-3.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-1.png" alt="blog-1.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-2.png" alt="blog-2.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-3.png" alt="blog-3.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-1.png" alt="blog-1.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-2.png" alt="blog-2.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-col">
                                            <div class="blog-box">
                                                <div class="blog-img">
                                                    <a href="#">
                                                        <img src="./img/blog-3.png" alt="blog-3.png">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <h4 class="blog-tt tt-20 f-semi t-uppercase">
                                                        <a href="#">
                                                            Đây là tiêu đề 1
                                                        </a>
                                                    </h4>
                                                    <p class="blog-date">
                                                        <img src="./img/icon-clock.svg" alt="icon-clock.svg">
                                                        Ngày 21 tháng 6, 2021
                                                    </p>
                                                    <p class="blog-desc tt-16">
                                                        Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed diam
                                                        nonumy
                                                    </p>
                                                    <a href="#" class="blog-link main-cl">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav class="pagination">
                                        <ul class="page-numbers">
                                            <li>
                                                <span aria-current="page" class="page-numbers current">01</span>
                                            </li>
                                            <li><a class="page-numbers" href="#">02</a></li>
                                            <li><a class="page-numbers  " href="#">03</a></li>
                                            <li><a class="page-numbers " href="#">04</a></li>
                                            <li><a class="page-numbers" href="#">5</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="column blog-sidebar" data-aos="fade-left" data-aos-delay="200">
                                <div class="blog-inner">
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>

                                    <div class="blog-tieubieu">
                                        <h4 class="blog-tb-tt t-uppercase tt-20 f-semi">
                                            Tiêu điểm trong ngày
                                        </h4>
                                        <div class="blog-box-text">
                                            <a href="#" class="blog-text tt-16">
                                                Nhà Máy Sản Xuất Khẩu Trang Y Tế Đạt Cấp Độ ISO 8
                                            </a>
                                            <a href="#" class="blog-text tt-16">
                                                Nhà Máy Sản Xuất Khẩu Trang Y Tế Đạt Cấp Độ ISO 8
                                            </a>
                                            <a href="#" class="blog-text tt-16">
                                                Nhà Máy Sản Xuất Khẩu Trang Y Tế Đạt Cấp Độ ISO 8
                                            </a>
                                            <a href="#" class="blog-text tt-16">
                                                Nhà Máy Sản Xuất Khẩu Trang Y Tế Đạt Cấp Độ ISO 8
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="latest-news sec-40" data-aos="fade-up">
                <div class="container">
                    <div class="news-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="news-inner">
                                    <h3 class="news-title tt-20 f-semi t-uppercase">
                                        Nhận tin tức mới nhất từ chúng tôi
                                    </h3>

                                    <p class="news-desc tt-16">
                                        Cập nhật thông tin bổ ích về sức khỏe và làm đẹp, các dự án và chương trình tri
                                        ân khách hàng từ GMP Groups
                                    </p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="news-iner">
                                    <form action="#" class="news-form">
                                        <input type="text" class="f-control" placeholder="Email của bạn">
                                        <button class="f-submit" type="submit">
                                            <img src="./img/icon-planes.svg" alt="icon-planes.svg">
                                        </button>
                                    </form>

                                    <div class="news-social">
                                        <a class="social-link">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a class="social-link">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                        <a class="social-link">
                                            <i class="fa fa-youtube" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <a href="tel:0972345486" class="home-hotline">
                <div class="img-phone">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <span class="text-phone tt-20 f-semi"> 0972 345 486</span>
            </a>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer-wrapper">
                    <div class="ft-inner">
                        <div class="ft-logo">
                            <a href="#">
                                <img src="./img/logo-footer.png" alt="logo-footer.png">
                            </a>
                        </div>
                        <h4 class="ft-cty tt-20 f-bold t-uppercase">
                            Công ty Cổ phần GMP Groups
                        </h4>
                        <a href="#" class="ft-address tt-16">
                            Lô LK20.8, KĐT Sinh thái Ecoriver, phường Hải Tân, thành phố Hải
                            Dương, tỉnh Hải Dương
                        </a>
                        <a href="mailto:info@gmpgroups.com.vn" class="ft-email tt-16">
                            info@gmpgroups.com.vn
                        </a>
                        <div class="ft-social">
                            <a href="#" class="social-link">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="social-link">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="social-link">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="ft-phome">
                            <div class="ft-phone-box">
                                <p class="ft-text tt-16 f-semi">
                                    Số điện thoại
                                </p>
                                <a href="tel:02203857968" class="ft-sdt main-cl tt-24">
                                    02203857968
                                </a>
                            </div>
                            <div class="ft-phone-box">
                                <p class="ft-text tt-16 f-semi">
                                    Hotline/zalo
                                </p>
                                <a href="tel:0972345486" class="ft-sdt main-cl tt-24">
                                    0972345486
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ft-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.423866586754!2d106.65298321533423!3d10.778812262095796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec7b1bb8467%3A0x22698138bf1fdcec!2zMzczLCAyMjYgTMO9IFRoxrDhu51uZyBLaeG7h3QsIHBoxrDhu51uZyA5LCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1625128717807!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="copy-right">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>