<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header header-home">
            <div class="header-bottom">
                <div class="container-full">
                    <div class="header-bottom-inner">
                        <div class="header-left">
                            <div class="header-logo">
                                <a href="home.html">
                                    <img src="./img/logo-header.png" alt="logo-header.png">
                                </a>
                            </div>
                            <div class="btn-menu open-menu">
                                <p class="main-cl tt-16 t-uppercase f-bold open-text">menu</p>
                                <p class="main-cl tt-16 t-uppercase f-bold close-text">đóng</p>
                            </div>
                            <div class="header-search">
                                <div class="header-search-icon">
                                    <img src="./img/icon-serach.svg" alt="icon-serach.svg">
                                </div>
                            </div>
                        </div>

                        <div class="header-right">
                            <div class="header-gmp-group">
                                <div class="gmp-text">
                                    <p>
                                        <span class="main-cl">GMP Groups</span> – Đồng hành cùng Doanh nghiệp <br>
                                        sản xuất thiết bị y tế đẩy lùi <span class="main-cl t-uppercase">COVID-19</span>
                                    </p>
                                </div>

                                <div class="gmp-img">
                                    <img src="./img/icon-medical.svg" alt="icon-medical.svg">
                                </div>

                            </div>

                            <div class="header-social-net">
                                <a href="#" class="social-item">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="social-item">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="social-item">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div class="header-lang">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/VN.svg">VN
                                        </option>
                                        <option value="EN" data-thumbnail="img/VN.svg">EN
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-menu-new">
                            <div class="container">
                                <div class="columns">
                                    <div class="column col-menu">
                                        <div class="header-menu">
                                            <div class="header-menu-inner">
                                                <div class="header-menu-logo">
                                                    <a href="home.html">
                                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                                    </a>
                                                </div>
                                                <ul class="header-menu-nav">
                                                    <li class="current-menu">
                                                        <a href="#">Trang chủ</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#">Về chúng tôi</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Giải pháp toàn diện </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">Lĩnh vực phòng sạch</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li class="dropdown">
                                                                <a href="#">Test sub menu 1</a>
                                                                <ul class="sub-menu">
                                                                    <li>
                                                                        <a href="#">Test sub menu 2</a>
                                                                    </li>
                                                                    <li class="">
                                                                        <a href="#">test sub menu2 </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Test sub menu 2</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Test sub menu 2</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Tư vấn GMP/ISO </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">Tư vấn công nghệ bào chế</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Test sub menu 1</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Dự án</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Sản phẩm </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blog</a>
                                                    </li>
                                                </ul>
                                                <div class="header-menu-socail">
                                                    <a href="#" class="menu-socail socail-face">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="menu-socail socail-youtube">
                                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="menu-socail socail-insta">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="overplay"></div>
                                        </div>
                                    </div>


                                    <div class="column col-menu-content">
                                        <div class="header-content">
                                            <div class="header-content-box">
                                                <div class="menu-list">
                                                    <div class="menu-item">
                                                        <a href="#" class="menu-text">
                                                            Lô LK20.8 KĐT sinh thái Ecoriver Hải Dương, <br>
                                                            phường Hải Tân, thành phố Hải Dương
                                                        </a>
                                                    </div>
                                                    <div class="menu-item">
                                                        <a href="tel:02203857968" class="menu-text">
                                                            0220.3857.968
                                                        </a>
                                                    </div>
                                                    <div class="menu-item">
                                                        <a href="mailto:info@gmpgroups.com.vn" class="menu-text">
                                                            info@gmpgroups.com.vn
                                                        </a>
                                                    </div>
                                                    <div class="menu-item">
                                                        <p class="menu-text">
                                                            8h00 – 17h00 từ thứ 2 đến thứ 7
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="menu-social">
                                                    <a href="#" class="social-link">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="social-link">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="social-link">
                                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                                    </a>
                                                </div>

                                                <div class="textmenu ">
                                                    <p>Menu</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main main-home">
            <section class="banner" style="background-image: url('./img/bg-banner.png');">
                <div class="container">
                    <div class="banner-wrapper">
                        <h3 class="banner-title tt-60 f-semi t-uppercase">
                            Lĩnh vực phòng sạch
                        </h3>
                        <p class="text-after">Solution</p>
                    </div>
                </div>
            </section>

            <div class="box-tab">
                <div class="container">
                    <div class="btab-wrapper">
                        <ul class="btab-list">
                            <li class="btab-item active">
                                <a href="#" class="t-uppercase tt-16">Dược phẩm</a>
                            </li>
                            <li class="btab-item">
                                <a href="#" class="t-uppercase tt-16">Mỹ phẩm</a>
                            </li>
                            <li class="btab-item ">
                                <a href="#" class="t-uppercase tt-16">Thực phẩm</a>
                            </li>
                            <li class="btab-item">
                                <a href="#" class="t-uppercase tt-16">Thú y</a>
                            </li>
                            <li class="btab-item">
                                <a href="#" class="t-uppercase tt-16">Điên tử</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="posts-general sec-80">
                <div class="container">
                    <div class="post-wrapper">
                        <div class="post-head">
                            <div class="head-cols">
                                <div class="head-col head-title" data-aos="fade-right">
                                    <h3 class="post-title tt-36 f-semi">
                                        Phòng sạch <br>
                                        dược phẩm
                                    </h3>
                                </div>
                                <div class="head-col head-intro" data-aos="fade-left">
                                    <p class="post-intro tt-24">
                                        Để bắt đầu một dự án phòng sạch, thiết kế ý tưởng là một phần quan trọng, cung
                                        cấp một
                                        bức tranh tổng thể, trong đó xác định nhu cầu của khách hàng, quy trình triển
                                        khai và
                                        các yêu cầu của dự án
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="post-img">
                            <img src="./img/img-post-1.png" alt="img-post-1.png">
                        </div>
                        <div class="post-mona-content">
                            <div class="post-box" data-aos="fade-up">
                                <div class="post-cols">
                                    <div class="post-col post-num">
                                        <div class="post-number main-cl">
                                            01
                                        </div>
                                    </div>
                                    <div class="post-col post-txt">
                                        <div class="post-content mona-content">
                                            <h4 class="post-tt  f-semi t-uppercase">
                                                Tổng quan và vai trò của phòng sạch dược phẩm trong thực tiễn
                                            </h4>
                                            <div class="post-desc tt-16">
                                                <p>
                                                    Dược phẩm là một trong những ngành trọng điểm được quan tâm nhất
                                                    hiện nay, là ngành có vai trò quan trọng trong hệ thống y tế, vì vậy
                                                    chất lượng sản phẩm được kiểm soát rất chặt chẽ.
                                                </p>
                                                <p>
                                                    Hiện nay, các nhà máy dược phẩm- y tế bắt buộc phải đạt chuẩn GMP
                                                    tối thiểu theo: Tiêu chuẩn GMP-WHO (Tiêu chuẩn Thực hành tốt sản
                                                    xuất của Tổ chức Y tế thế giới). Ngoài ra, các nhà máy sản xuất
                                                    thuốc đang tiến tới xây dựng EU GMP và PIC/S để tăng lợi thế khi đấu
                                                    thầu vào nhà thuốc:
                                                </p>
                                                <p>- Tiêu chuẩn GMP EU</p>
                                                <p>- Tiêu chuẩn PIC/S GMP</p>
                                                <p>Phòng sạch dược phẩm được sử dụng làm nơi nghiên cứu, chế tạo và thử
                                                    nghiệm các loại thuốc mới, sản xuất và bào chế các loại thuốc, do đó
                                                    phải đảm bảo tạo ra môi trường vô trùng, giúp các sản phẩm được bảo
                                                    quản an toàn, hạn chế khả năng gây biến chứng cho người bệnh khi sử
                                                    dụng. Chính vì vậy việc thiết kế, thi công phòng sạch dược phẩm đúng
                                                    quy chuẩn là yếu tố vô cùng quan trọng.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-box" data-aos="fade-up">
                                <div class="post-cols">
                                    <div class="post-col post-num">
                                        <div class="post-number main-cl">
                                            02
                                        </div>
                                    </div>
                                    <div class="post-col post-txt">
                                        <div class="post-content mona-content">
                                            <h4 class="post-tt  f-semi t-uppercase">
                                                Lợi ích khi doanh nghiệp xây dựng phòng sạch dược phẩm đạt chuẩn GMP
                                            </h4>
                                            <div class="post-desc tt-16">
                                                <p>
                                                    - Đánh giá, xem xét nghiêm ngặt của mọi quy trình để có thể đảm bảo chất lượng sản phẩm và hiệu quả tốt nhất.
                                                </p>
                                                <p>
                                                    - Xác định và kiểm soát chặt chẽ các trang thiết bị kỹ thuật để phục vụ tốt chất cho quá trình sản xuất.
                                                </p>
                                                <p>
                                                    - Giữ được niềm tin của khách hàng và cơ quan quản lý khi doanh nghiệp áp dụng tốt tiêu chuẩn GMP trong tiêu chuẩn nhà máy dược phẩm.
                                                </p>
                                                <p>
                                                    - Nâng cao trách nhiệm cũng như tầm hiểu biết của đội ngũ nhân viên, bên cạnh đó, nếu doanh nghiệp áp dụng tốt tiêu chuẩn GMP thì sẽ đảm bảo giữ vững niềm tin của khách hàng và cơ quan quản lý.
                                                </p>
                                                <p>
                                                    - Doanh nghiệp có thể dễ dàng hơn trong việc đạt được công nhận từ các tổ chức quốc tế và nâng cao tính cạnh tranh cho sản phẩm doanh nghiệp trên thị trường.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-box" data-aos="fade-up">
                                <div class="post-cols">
                                    <div class="post-col post-num">
                                        <div class="post-number main-cl">
                                            03
                                        </div>
                                    </div>
                                    <div class="post-col post-txt">
                                        <div class="post-content mona-content">
                                            <h4 class="post-tt  f-semi t-uppercase">
                                                Tiêu chuẩn thiết kế phòng sạch
                                            </h4>
                                            <div class="post-desc tt-16">
                                                <p>Trong quá trình lên phương án thiết kế phòng sạch, đơn vị thiết kế
                                                    tham khảo và áp dụng một vài tiêu chuẩn sau:
                                                    Tiêu chuẩn quốc tế: AAF, ISO/TC209 (Class 100.000. Class 10.000,
                                                    Class 1.000)</p>
                                                </p>
                                                <p>
                                                    Các bộ tiêu chuẩn của Mỹ (ASHRAE, ASTM, SMACNA), bộ tiêu chuẩn Châu
                                                    Âu (EN) và một số tài liệu tính toán, chương trình đáng tin cậy.
                                                </p>
                                                <p>
                                                    Tiêu chuẩn phòng sạch được kiểm nghiệm chất lượng bởi Trung Tâm Chất
                                                    Lượng III, đạt chuẩn GMP, GSP, HACCP.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-box" data-aos="fade-up">
                                <div class="post-cols">
                                    <div class="post-col post-num">
                                        <div class="post-number main-cl">
                                            04
                                        </div>
                                    </div>
                                    <div class="post-col post-txt">
                                        <div class="post-content mona-content">
                                            <h4 class="post-tt  f-semi t-uppercase">
                                                Tại sao nên chọn GMP Groups làm đơn vị thiết kế phòng sạch
                                            </h4>
                                            <div class="post-desc tt-16">
                                                <p>
                                                    Thiết kế phòng sạch cần đảm bảo và cân nhắc các khía cạnh như kiểm
                                                    soát bụi, vi khuẩn, chất ô nhiễm, hệ thống HVAC, hệ thống điện và
                                                    các mặt kỹ thuật công nghiệp khác. Tuy vậy, mục tiêu quan trọng nhất
                                                    trong thiết kế phòng sạch vẫn là sự kiểm soát bụi. Kích thước các
                                                    hạt trong không khí trong phòng sẽ dao động từ 0.001 đến vài trăm
                                                    micromet. Để có thể xử lý các hạt này, nếu chỉ đơn giản lắp lọc để
                                                    khử sẽ không xử lý được triệt để, về lâu dài có thể sinh ra những
                                                    “góc chết” ứ đọng bụi.
                                                </p>
                                                <p>
                                                    Vì vậy, một hệ thống xử lý không khí được thiết kế tốt bởi một đơn
                                                    vị tư vấn thiết kế phòng sạch uy tín sẽ đảm bảo không khí tuần hoàn
                                                    được lọc sạch trước khi vào phòng, tối ưu vị trí thích hợp nơi không
                                                    khí được đưa vào (cung cấp) và lấy ra (khí thải).
                                                    Đội ngũ thiết kế của chúng tôi làm việc kết hợp với các nhân viên
                                                    xây dựng phòng sạch để thiết kế một dự án hiệu quả về chi phí trong
                                                    khi tối đa hóa hiệu suất, giá trị và khả năng xây dựng. Việc tích
                                                    hợp tổng thể dự án với các chuyên gia GMP Groups giúp tiết kiệm chi
                                                    phí thiết kế, tiến độ lập lịch trình và loại bỏ sự trùng lặp của các
                                                    dịch vụ.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-box" data-aos="fade-up">
                                <div class="post-cols">
                                    <div class="post-col post-num">
                                        <div class="post-number main-cl">
                                            05
                                        </div>
                                    </div>
                                    <div class="post-col post-txt">
                                        <div class="post-content mona-content">
                                            <h4 class="post-tt  f-semi t-uppercase">
                                                Dịch vụ tư vấn thiết kế phòng sạch uy tín
                                            </h4>
                                            <div class="post-desc tt-16">
                                                <p>Tại GMP Groups, ưu tiên hàng đầu của chúng tôi là cung cấp cho bạn
                                                    phòng sạch phù hợp với nhu cầu chính xác của bạn. Cho dù quy trình
                                                    của bạn yêu cầu phòng sạch ISO 3 hay ISO 8, chúng tôi có các công
                                                    cụ, tài liệu và kiến thức để thiết kế một phòng sạch đáp ứng đúng
                                                    tiêu chí. Chúng tôi cam kết khách hàng khi tư vấn, thiết kế phòng
                                                    sạch đạt chuẩn GMP:</p>
                                                <p>
                                                    - Đầy đủ trình tự các bước từ khảo sát thực địa ra thiết kế cơ sở,
                                                    thiết kế kỹ thuật, cuối cùng là bản vẽ Shopdrawing triển khai thi
                                                    công thực tế phòng sạch
                                                </p>
                                                <p>
                                                    - Hồ sơ thiết kế phòng sạch đầy đủ các hạng mục và thông tin rõ ràng
                                                </p>
                                                <p>
                                                    - Thời gian thiết kế đảm bảo theo tiến độ của chủ đầu tư
                                                </p>
                                                <p>
                                                    - Tư vấn hỗ trợ (không tính phí) cho chủ đầu tư lựa chọn thiết bị
                                                    sản xuất, thiết bị kiểm nghiệm, thiết bị kho phù hợp với nhu cầu,
                                                    ngân sách đầu tư sao cho hiệu quả sử dụng cao nhất.
                                                </p>
                                                <p>
                                                    - Tư vấn hỗ trợ (không tính phí) cho chủ đầu tư lựa chọn vật tư,
                                                    thiết bị phù hợp cho việc xây dựng thi công phòng sạch đảm bảo tiêu
                                                    chuẩn GMP nhưng suất đầu tư là thấp nhất.
                                                </p>
                                                <p>- Mô hình hóa 3D công trình cho chủ đầu tư xem trước được mô hình nhà
                                                    máy, hệ thống phòng sạch trước khi xây dựng.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="related-faq sec-70">
                <div class="container">
                    <div class="faq-wrapper">
                        <h3 class="faq-title tt-36 f-semi wow animate__bounceIn">
                            Câu hỏi thường gặp liên quan
                        </h3>
                        <div class="columns">
                            <div class="column">
                                <div class="faq-inner">
                                    <div class="faq-box" data-aos="fade-right">
                                        <h4 class="faq-tt tt-20 t-uppercase f-semi">
                                            HƯỚNG DẪN THỰC HÀNH THIẾT LẬP HỆ THỐNG HỒ SƠ, TÀI LIỆU
                                            GMP VÀ ISO
                                        </h4>
                                        <div class="faq-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata</p>
                                        </div>
                                    </div>
                                    <div class="faq-box" data-aos="fade-right" data-aos-delay="200">
                                        <h4 class="faq-tt tt-20 t-uppercase f-semi">
                                            Hướng dẫn thực hành tốt sản xuất thuốc và thực
                                            phẩm bảo vệ sức khỏe
                                        </h4>
                                        <div class="faq-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata</p>
                                        </div>
                                    </div>
                                    <div class="faq-box" data-aos="fade-right" data-aos-delay="400">
                                        <h4 class="faq-tt tt-20 t-uppercase f-semi">
                                            HƯỚNG DẪN THỰC HÀNH THIẾT LẬP HỆ THỐNG HỒ SƠ, TÀI LIỆU
                                            GMP VÀ ISO
                                        </h4>
                                        <div class="faq-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="faq-inner">
                                    <div class="faq-box" data-aos="fade-right" data-aos-delay="600">
                                        <h4 class="faq-tt tt-20 t-uppercase f-semi">
                                            Hướng dẫn thực hành tốt sản xuất thuốc và thực
                                            phẩm bảo vệ sức khỏe
                                        </h4>
                                        <div class="faq-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata</p>
                                        </div>
                                    </div>
                                    <div class="faq-box" data-aos="fade-right" data-aos-delay="800">
                                        <h4 class="faq-tt tt-20 t-uppercase f-semi">
                                            HƯỚNG DẪN THỰC HÀNH THIẾT LẬP HỆ THỐNG HỒ SƠ, TÀI LIỆU
                                            GMP VÀ ISO
                                        </h4>
                                        <div class="faq-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata</p>
                                        </div>
                                    </div>
                                    <div class="faq-box" data-aos="fade-right" data-aos-delay="1000">
                                        <h4 class="faq-tt tt-20 t-uppercase f-semi">
                                            Hướng dẫn thực hành tốt sản xuất thuốc và thực
                                            phẩm bảo vệ sức khỏe
                                        </h4>
                                        <div class="faq-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                clita kasd gubergren, no sea takimata</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="related-post sec-80">
                <div class="container">
                    <div class="post-wrappper">
                        <h3 class="post-title tt-36 f-semi wow animate__bounceIn">
                            Bài viết liên quan
                        </h3>
                        <div class="post-slide" id="slide-related-post" data-aos="fade-up">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="post-inner">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./img/img-related-post-1.png"
                                                        alt="img-related-post-1.png">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <h4 class="post-tt tt-20 t-uppercase">
                                                    <a href="#">
                                                        Dược phẩm
                                                    </a>
                                                </h4>
                                                <p class="post-desc tt-16">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing
                                                </p>
                                                <a href="#" class="post-link main-cl">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="post-inner">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./img/img-related-post-2.png"
                                                        alt="img-related-post-2.png">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <h4 class="post-tt tt-20 t-uppercase">
                                                    <a href="#">
                                                        Dược phẩm
                                                    </a>
                                                </h4>
                                                <p class="post-desc tt-16">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing
                                                </p>
                                                <a href="#" class="post-link main-cl">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="post-inner">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./img/img-related-post-3.png"
                                                        alt="img-related-post-3.png">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <h4 class="post-tt tt-20 t-uppercase">
                                                    <a href="#">
                                                        Dược phẩm
                                                    </a>
                                                </h4>
                                                <p class="post-desc tt-16">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing
                                                </p>
                                                <a href="#" class="post-link main-cl">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <a href="tel:0972345486" class="home-hotline">
                <div class="img-phone">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <span class="text-phone tt-20 f-semi"> 0972 345 486</span>
            </a>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer-wrapper">
                    <div class="ft-inner">
                        <div class="ft-logo">
                            <a href="#">
                                <img src="./img/logo-footer.png" alt="logo-footer.png">
                            </a>
                        </div>
                        <h4 class="ft-cty tt-20 f-bold t-uppercase">
                            Công ty Cổ phần GMP Groups
                        </h4>
                        <a href="#" class="ft-address tt-16">
                            Lô LK20.8, KĐT Sinh thái Ecoriver, phường Hải Tân, thành phố Hải
                            Dương, tỉnh Hải Dương
                        </a>
                        <a href="mailto:info@gmpgroups.com.vn" class="ft-email tt-16">
                            info@gmpgroups.com.vn
                        </a>
                        <div class="ft-social">
                            <a href="#" class="social-link">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="social-link">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="social-link">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="ft-phome">
                            <div class="ft-phone-box">
                                <p class="ft-text tt-16 f-semi">
                                    Số điện thoại
                                </p>
                                <a href="tel:02203857968" class="ft-sdt main-cl tt-24">
                                    02203857968
                                </a>
                            </div>
                            <div class="ft-phone-box">
                                <p class="ft-text tt-16 f-semi">
                                    Hotline/zalo
                                </p>
                                <a href="tel:0972345486" class="ft-sdt main-cl tt-24">
                                    0972345486
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ft-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.423866586754!2d106.65298321533423!3d10.778812262095796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec7b1bb8467%3A0x22698138bf1fdcec!2zMzczLCAyMjYgTMO9IFRoxrDhu51uZyBLaeG7h3QsIHBoxrDhu51uZyA5LCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1625128717807!5m2!1svi!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="copy-right">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
       <!-- wow -->
       <script src="./js/libs/wow/wow.min.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>