

.bloges {
    overflow: hidden;
    .column {
        &.blog-txt {
            width: calc(100% / 12 * 8);

            @include max-media($bk-d-992) {
                width: 100%;
            }
        }

        &.blog-sidebar {
            width: calc(100% / 12 * 4);

            @include max-media($bk-d-992) {
                width: 100%;
                order: -1;
            }
        }
    }

    .blog-cols {
        display: flex;
        flex-wrap: wrap;
        margin: -22.5px -15px;

        @include max-media($bk-1200) {
            margin: -12.5px -7.5px;
        }
    }

    .blog-col {
        padding: 22.5px 15px;
        width: calc(100% /3);

        @include max-media($bk-1200) {
            padding: 12.5px 7.5px;
        }

        @include max-media($bk-d-768) {
            width: calc(100% / 2);
        }

        @include max-media($bk-450) {
            width: 100%;
        }
    }

    .blog-box {
        &:hover {
            box-shadow: 15px 15px 45px rgba($color: $b-cl, $alpha: .16);

            .blog-content {
                background-color: $bg-w-cl;
            }

            .blog-img {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .blog-img {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                transition: all .3s ease;
            }
        }

        .blog-content {
            padding: 30px 25px;
            transition: all .3s ease;

            @include max-media($bk-1200) {
                padding: 20px 10px;

                @include max-media($bk-1200) {
                    padding: 20px 10px;
                }
            }

            @include max-media($bk-576) {
                padding: 15px 10px;
            }
        }

        .blog-tt {
            transition: all .3s ease;
            margin-bottom: 15px;
            @include lh(27, 20);

            @include max-media($bk-d-1200) {
                margin-bottom: 10px;
            }

            &:hover {
                color: $main-cl;
            }

        }

        .blog-date {
            color: rgba($color: $b-cl, $alpha: .5);
            margin-bottom: 13px;
            display: flex;
            align-items: center;
            font-style: italic;

            @include max-media($bk-d-1200) {
                margin-bottom: 10px;
            }


            img {
                padding-right: 13px;

                @include max-media($bk-d-768) {
                    padding-right: 5px;
                }
            }
        }

        .blog-desc {
            @include lh(24, 16);
            margin-bottom: 5px;
        }

        .blog-link {
            transition: all .3s ease;

            &:hover {
                color: $main-cl-2;
            }
        }



    }

    .blog-sidebar {
        .blog-inner {
            padding-left: 25px;

            @include max-media($bk-1400) {
                padding-left: 0;
            }
        }
    }

    

}

.latest-news {
    overflow: hidden;
    @include max-media($bk-d-768) {
        padding-top: 0;
    }

    .columns {
        align-items: center;
    }

    .column {
        width: calc(100% / 12 * 6);

        @include max-media($bk-d-768) {
            width: 100%;
        }
    }

    .news-title {
        margin-bottom: 15px;
        @include lh(27, 20);

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .news-desc {
        @include lh(24, 16)
    }

    .news-iner {
        display: flex;
        align-items: center;
        padding-left: 20px;

        @include max-media($bk-d-1200) {
            padding-left: 0px;
        }

        @include max-media($bk-d-992) {
            flex-direction: column;
            align-items: flex-start;
        }
    }


    .news-form {
        position: relative;
        width: 100%;
        max-width: 450px;
        min-width: 315px;

        @include max-media($bk-576) {
            min-width: auto;
        }

        .f-control {
            border-radius: 24px;
            border-color: rgba($color: $b-cl, $alpha: .1);
            height: 46px;
            padding: 12px 85px 12px 25px;
            transition: all .3s ease;

            &:hover,
            &:focus {
                border-color: $main-cl;
            }
        }

        .f-submit {
            width: 80px;
            height: 46px;
            background-color: $main-cl;
            outline: none;
            border: none;
            border-radius: 0 24px 24px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0%;
            right: 0;

        }
    }

    .news-social {
        display: flex;
        align-items: center;
        padding-left: 35px;

        @include max-media($bk-d-1200) {
            padding-left: 20px;
        }

        @include max-media($bk-d-992) {
            padding-left: 0px;
            margin-top: 10px;
        }

        .social-link {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 1px solid $main-cl;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: $main-cl;
            transition: all .3s ease;

            &:hover {
                color: $w-cl;
                background-color: $main-cl;
                transform: translateY(-5px);
            }

            @include max-media($bk-992) {
                width: 30px;
                height: 30px;
                font-size: 16px;

            }

            &:not(:first-child) {
                margin-left: 25px;

                @include max-media($bk-d-1200) {
                    margin-left: 10px;
                }
            }
        }
    }
}